* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

.primary-color {
    background-color: #E55473;
}

.btn {
    border: none;
    padding: 25px 50px;
    background-color: #E55473;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
    font-size: 18px;
}


/* header part satrts from here */
.header {
    background-color: rgba(229, 84, 115, 0.1);
    height: 650px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.header-title {
    font-family: 'Lato', sans-serif;
    color: #272727;
    font-size: 90px;
    font-weight: bolder;
}

.header-para {
    width: 620px;
    color: rgba(39, 39, 39, 0.6);
    margin-top: 30px;
    font-size: 18px;
}

.header-text {}

.header-image img {
    height: 650px;
}


/* header part ends here */

/* main part start from here */

/* feature section starts from here */

.featured-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.featured-title h2 {
    display: flex;
    justify-content: center;
    margin-top: 120px;
    font-size: 40px;
}

.featured-title p {
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgba(39, 39, 39, 0.6);
    margin-top: 30px;
    font-size: 18px;
}

/* sub-featured section start from here */

.sub-featured-section {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
}

.first-flower {
    width: 464px;
    height: 538px;
    background-color: rgba(229, 84, 115, 0.1);
    border-radius: 232px 232px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;

}

.first-flower img {
    margin-top: 110px;
    align-items: center;
}

.second-flower {
    width: 464px;
    height: 538px;
    background-color: rgba(5, 151, 160, 0.15);
    border-radius: 232px 232px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}

.second-flower img {
    margin-top: 110px;
    align-items: center;
}

.third-flower {
    width: 464px;
    height: 538px;
    background-color: rgba(71, 125, 17, 0.15);
    border-radius: 232px 232px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.third-flower img {
    margin-top: 67px;
    align-items: center;
}

.featured-section-text {
    margin-top: 20px;

}


.featured-section-text a {
    color: #272727;
    font-weight: bold;
    font-size: 24px;
    margin: 170px;
}

/* sub-featured section start end here */

/* new section start from here */
.new-launch-container{
    max-width: 1755px;
}

.new-launch{
    height: 620px;
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-image img{
    width: 600px;
    
}

.new-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 100px;
}

.new-text h1 {
    text-align: center;
}

.new-text p {
    text-align: center;
}

.new-title {
    font-family: 'Lato', sans-serif;
    color: #272727;
    font-size: 40px;
    font-weight: bolder;

}

.new-para {
    width: 620px;
    color: rgba(39, 39, 39, 0.6);
    margin-top: 30px;
    font-size: 18px;
}

/* service section starts from here */

.services-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

.services-sub-section {
    background-color: rgba(39, 39, 39, 0.05);
    width: 1440px;
    height: 320px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
}

.services-sub-section P {
    margin-top: 30px;
    font-size: 24px;
    color: rgba(39, 39, 39, 0.6);
}

.first-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.second-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.third-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* service section ends here */


/* offer section starts from here */
.offer-section {
    background-color: rgba(229, 84, 115, 0.05);
    height: 620px;
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.offer-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-right: 100px;
}

.offer-text h1 {
    text-align: center;
}

.offer-text p {
    text-align: center;
}

.offer-title {
    font-family: 'Lato', sans-serif;
    color: #272727;
    font-size: 40px;
    font-weight: bolder;

}

.offer-para {
    width: 620px;
    color: rgba(39, 39, 39, 0.6);
    margin-top: 30px;
    font-size: 18px;
}

/* Social gallery section satrts from here */

.social-gallery-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.social-gallery-title {
    margin-top: 120px;
}

.social-gallery-title h1 {
    text-align: center;
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.social-gallery-title p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    max-width: 600px;
    margin-top: 30px;
}

.social-gallery-image {
    display: flex;
    width: 1440px;
    margin-top: 70px;
}

.image1 {
    width: 342px;
    height: 396px;
    margin-right: 20px;

}

.image2 {
    width: 342px;
    height: 396px;
    margin-right: 20px;
}

.image3 {
    width: 342px;
    height: 396px;
    margin-right: 20px;

}

.image4 {
    width: 342px;
    height: 396px;
}

.subscription-container {
    background-image: url('./Flower Asset/Rectangle 9.png');
    width: 1440px;
    height: 449px;
    margin: 0 auto;
    margin-top: 120px;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.subscription-inner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.subscription-container h1 {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    line-height: normal
}

.subscription-container p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-top: 25px;
}

.subscription-container input {
    width: 700px;
    height: 64px;
    border-radius: 8px;
    background: #FFF;
    border: none;
    margin-right: 20px;
}

input::placeholder {
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    padding: 20px;
}

/* main part ends here */

/* footer part start from here */
footer {
    background-color: #000;
    margin-top: 120px;
    height: 449px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ft-h1 {
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
    margin-top: 25px;
}

.ft-h1 span {
    color: #fff;
}

.ft-p {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    margin-top: 25px;
    font-weight: 400;
    max-width: 625px;
    line-height: 30px;
}

.ft-p2 {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    margin-top: 25px;
    font-weight: 400;
}

/* footer part ends here */